.app {
    text-align: center;
}

.movie-list {
    justify-content: center;
}

.movie-card {
    width: 300px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.movie-details {
    margin-top: 10px;
    text-align: left;
}

.movie-name {
    font-size: 1.2em;
    font-weight: bold;
}

.movie-author {
    margin-top: 5px;
    font-size: 1em;
    color: #666;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.star {
    color: #FFD700;
    cursor: pointer;
}
